/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */

body {
  background: radial-gradient(darkgreen, rgb(4, 41, 6));
  color: aliceblue;
  font-size: 20px;
  font-family: "Viaoda Libre", cursive;
  font-weight: bold;
}
header {
  background: radial-gradient(rgb(165, 180, 165), rgb(58, 216, 66));
  padding: 5%;
}
main {
  background-image: linear-gradient(
    125deg,
    rgb(0, 128, 128),
    rgb(216, 146, 16)
  );
}
a {
  color: antiquewhite;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

li {
  display: inline;
  margin: auto;
}

.projectsection {
  margin: auto;
  display: flex;
  align-items: center;
}

article {
  color: aliceblue;
  display: inline-block;
  margin-right: -4px;
  width: 30%;
}
article:first-child {
  background-image: linear-gradient(
    65deg,
    rgba(250, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  );
}
article:nth-child(2) {
  background-image: linear-gradient(65deg, green, rgb(216, 16, 216));
}
article:nth-child(3) {
  background-image: linear-gradient(65deg, rgb(60, 0, 128), rgb(243, 141, 8));
}
footer {
  font-size: 0.7em;
}
img {
  display: block;
  margin: auto;
}
