/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */
li {
  display: inline;
}

article:first-child {
  color: rgba(0, 0, 0, 0.5);
}
